In [1]:
import pandas as pd

## Series

In [3]:
s = pd.Series([1,2,3,4,5,6,7])

In [4]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [6]:
index_day = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
data = [1,2,3,4,5,6,7]

In [8]:
s2 = pd.Series(data, index=index_day)

In [9]:
s2

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       7
dtype: int64

In [10]:
s2[0]

C:\Users\jakeb\AppData\Local\Temp\ipykernel_14288\2344841457.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[0]

1

In [11]:
s2[6]

C:\Users\jakeb\AppData\Local\Temp\ipykernel_14288\2220985530.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[6]

7

In [13]:
s2['Sunday']

7

In [14]:
s2['Sunday'] = 8

In [15]:
s2

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       8
dtype: int64

In [17]:
s2.mean()

4.142857142857143

In [18]:
s2*3

Monday        3
Tuesday       6
Wednesday     9
Thursday     12
Friday       15
Saturday     18
Sunday       24
dtype: int64

In [20]:
s2+s2

Monday        2
Tuesday       4
Wednesday     6
Thursday      8
Friday       10
Saturday     12
Sunday       16
dtype: int64

## Dataframe

In [21]:
df = pd.DataFrame({'first':s2,'second':s2*2})

In [22]:
df

           first  second
Monday         1       2
Tuesday        2       4
Wednesday      3       6
Thursday       4       8
Friday         5      10
Saturday       6      12
Sunday         8      16

In [24]:
colunm_names = ['city','population']
index_country = ['Japan','India', 'China','Brazil','Mexico']

In [23]:
row1 = ['Tokyo',37.4]
row2 = ['Delhi', 28.5]
row3 = ['Shanghai',25.6]
row4 = ['Sap Paulo',21.7]
row5 = ['Mexico City',21.6]

In [27]:
data = [row1,row2,row3,row4,row5]
data

[['Tokyo', 37.4],
 ['Delhi', 28.5],
 ['Shanghai', 25.6],
 ['Sap Paulo', 21.7],
 ['Mexico City', 21.6]]

In [29]:
df= pd.DataFrame(data,index=index_country,columns=colunm_names)

In [30]:
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    Sap Paulo        21.7
Mexico  Mexico City        21.6

In [32]:
cities=['Tokyo','Delhi','Shanghai','Sao Paulo','Mexico City']
population=[37.4,28.5,25.6,21.7,21.6]

In [34]:
dict_popu = {'city':cities, 'population':population}
dict_popu

{'city': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mexico City'],
 'population': [37.4, 28.5, 25.6, 21.7, 21.6]}

In [37]:
df = pd.DataFrame(dict_popu ,index=index_country)
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    Sao Paulo        21.7
Mexico  Mexico City        21.6

In [39]:
df['city']

Japan           Tokyo
India           Delhi
China        Shanghai
Brazil      Sao Paulo
Mexico    Mexico City
Name: city, dtype: object

In [40]:
df['population']

Japan     37.4
India     28.5
China     25.6
Brazil    21.7
Mexico    21.6
Name: population, dtype: float64